<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Admin Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="" class="username">Username</label>
              <input [(ngModel)]="adminLoginData.username" name="username" type="text" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label for="" class="password">Password</label>
              <input [(ngModel)]="adminLoginData.password" name="password" type="password" class="form-control rounded-0" required>
            </div>
            <button (click)="adminLogin()" type="button" class="btn btn-primary float-right">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  