<div class="mt-5">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mt-5">
    <ngb-panel title="Today's Sessions">
        <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-4 mb-3" *ngFor="let session of todays_session">
                <div class="card text-center">
                  <div class="card-header">
                    <a  (click)="editSessionModal(session)" class="float-left"><i class="fa fa-edit"></i></a> {{ session.title }} <a (click)="deleteSessionModal(session)" class="float-right"><i class="fa fa-trash"></i></a>
                  </div>
                  <div class="card-body">
                    <!-- <h5 class="card-title">{{ session.name }}</h5> -->
                    <p class="card-text">{{session.description}}</p>
                    <a routerLink='' class="btn btn-primary">See Bookings</a>   
                    <p class="card-text">Maximum Number of People : {{session.max_people}}</p>
                  </div>
                  <div class="card-footer text-muted">
                    Date : {{ session.day }} --- Time : {{session.time}} 
                  </div>
                </div>
              </div>
            </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="See All Sessions">
          <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let session of sessions">
                  <div class="card text-center">
                    <div class="card-header">
                      <a  (click)="editSessionModal(session)" class="float-left"><i class="fa fa-edit"></i></a> {{ session.title }} <a (click)="deleteSessionModal(session)" class="float-right"><i class="fa fa-trash"></i></a>
                  </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">{{ session.name }}</h5> -->
                      <p class="card-text">{{session.description}}</p>
                      <a routerLink='/sessions/register' class="btn btn-primary">See Bookings</a>
                      <p class="card-text">{{session.max_people}}</p>
                    </div>
                    <div class="card-footer text-muted">
                      Date : {{ session.day }} --- Time : {{session.time}} 
                    </div>
                  </div>
                </div>
              </div>
          </ng-template>
        </ngb-panel>
    <ngb-panel title="Add Session">
      <ng-template ngbPanelContent>
  <div class="card-body">
    <form>
      <div class="form-group ">
        <label for="">Title</label>
        <input [(ngModel)]="sessionData.title" type="text" class="form-control" name="title" placeholder="Title" required>
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea [(ngModel)]="sessionData.description" class="form-control" name="description" rows="3" required></textarea>
      </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="">Time</label>
        <select [(ngModel)]="sessionData.time" class="form-control" name="time" required>
          <option>18:00 - 19:00</option>
          <option>19:10 - 20:10</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="">Date</label>
        <select [(ngModel)]="sessionData.day" name="date" class="form-control" required>
          <option>Choose Weekday...</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
      <div class="form-group col-md-4 ">
          <label for="no_of_people">Max. number of people</label>
          <input [(ngModel)]="sessionData.max_people" type="text" class="form-control" name="max_people" placeholder="Max. No.">
        </div>
    </div>
    <!-- <input [(ngModel)]="sessionData.createdAt" type="hidden" class="form-control" name="createdAt" [value]="createdAt"> -->
    <button type="submit" class="btn btn-danger float-left">Cancel</button>
    <button (click)="addSession()" type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
  </div>

</ng-template>
</ngb-panel>
</ngb-accordion>
</div>
<div id="modal-view-session" class="modal" tabindex="-1" >
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title float-left">Delete Confirmation</h3>
          <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
            <span class="label label-danger" aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body"> 
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">Are you sure you want to delete <b> {{selectedData.title}}</b>?</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)=deleteSessionById(selectedData._id) data-dismiss="modal"><span class="label label-primary">Yes</span></button><button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="label label-secondary">Close</span></button>
        </div>
      </div>
    </div>
  </div>


  <!--Edit Modal-->
  
<div id="modal-edit-session" class="modal" tabindex="-1" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title float-left">Edit Session</h3>
        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <form [formGroup]="myForm" (ngSubmit)="saveUpdates()" novalidate>
        <input type="hidden" formControlName="id"/>
        <div class="modal-body">
          <div class="col-sm-12">
            <table>
              <tbody>
                <tr>
                  <td>Title</td>
                  <td>
                    <input class="form-control" formControlName="title" type="text" required/>
                  </td>
                </tr>
                <tr>
                  <td>Description</td>
                    <td>
                      <input class="form-control" formControlName="description" type="text" required/>
                    </td>
                </tr>
                <tr>
                  <td>Time</td>
                    <td>
                      <input class="form-control" formControlName="time"  type="text"/>
                    </td>
                </tr>
                <tr>
                  <td>Day</td>
                    <td>
                      <input class="form-control" formControlName="day"  type="text"/>
                    </td>
                </tr>
                <tr>
                  <td>Max. Number of People</td>
                  <td>
                    <input class="form-control" formControlName="max_people"  type="text"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline">Save changes</button>
        </div>
      </form>  -->
      <form [formGroup]="myForm" (ngSubmit)="saveUpdates()" novalidate>
        <input type="hidden" formControlName="id"/>
        <div class="modal-body">
          <div class="col-sm-12">
              <table>
                  <tbody>
                    <tr>
                      <td>Title</td>
                      <td>
                        <input class="form-control" formControlName="title" type="text" required/>
                      </td>
                    </tr>
                    <tr>
                      <td>Description</td>
                        <td>
                          <input class="form-control" formControlName="description" type="text" required/>
                        </td>
                    </tr>
                    <tr>
                      <td>Time</td>
                        <td>
                          <select class="form-control" formControlName="time"  type="text">
                              <option>18:00 - 19:00</option>
                              <option>19:10 - 20:10</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                      <td>Day</td>
                        <td>
                          <input class="form-control" formControlName="day"  type="text"/>
                        </td>
                    </tr>
                    <tr>
                      <td>Max. Number of People</td>
                      <td>
                        <input class="form-control" formControlName="max_people"  type="text"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline">Save changes</button>
            </div>
        </form>
    </div>
  </div>
</div>
    